<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .form {
 position: relative;
 z-index: 1;
 background: #48c9b0;
 max-width: 400px;
 margin: 0 auto 100px;
 padding: 45px;
 text-align: center;
 box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
 
}
</style>
<body>
  <div class="container">
      <div class="form">
            <h1 id="id11">If you can, imagine a time before </h1>
            <h1>
                If you can, imagine a time before the invention of the Internet. Websites didn’t exist, 
                and books, printed on paper and tightly bound, were your primary source of information. It took a considerable amount
                 of effort—and reading—to track down the exact piece of information you were after.
</h1>
<p id="id12">
Today you can open a web browser, jump over to your search engine of choice, and search away. Any bit of imaginable 
information rests at your fingertips. And chances are someone somewhere has built a website with your exact search in mind.
</p>
<h2 id="id13">
Within this book I’m going to show you how to build your own websites using the two most
 dominant computer languages—HTML and CSS.
</h2>
<p id="id14">
Before we begin our journey to learn how to build websites with HTML and CSS, it is important to 
understand the differences between the two languages, the syntax of each language, and some common terminology.
            </p>
      </div>
  </div>
</body>
</html>